:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #66fcf1;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    background: var(--bg-color);
    left: 0;
    top: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    cursor: default;
}

.navbar a {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    color: var(--text-color);
    display: none;
}